body {
	text-align: center;
	font-family: verdana;
	color: 'black';
}

/* Canvas spacing at top */
#canvas {
	margin-top: 50px;
}

/* Game rules */
/* Rules caption anchor */
#slider {
	font-size: 24px;
	text-decoration: none;
}

/* rule text */
#rules {
	margin-top: 0;
	display: block;
}

/* rules list */
#rulesList {
	list-style-type: none;
}

/* rules list items */
li {
	font-size: 20px;
}
